{% extends "::base.html.twig" %}

{% block title %}Phân lịch{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tkb.css') }}" />
{% endblock %}
{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <h1>Thời khóa biểu - Phân lịch</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <form name="scheduledetail">
                <div class="panel" width="700rem">
                    <datalist id="class_list">
                        {% for class in classes %}
                            <option value="{{ class.name }}" />
                        {% endfor %}

                    </datalist>
                    <datalist id="instructor_list">
                        {% for user in users %}
                            <option value="{{ user.lastname }} {{ user.firstname }}" />
                        {% endfor %}
                    </datalist>

                    <div class="row">
                        <div class="large-4 columns">
                            <label>Khoa
                                <select name="faculty">
                                        <option value="">-- Chọn khoa --</option>
                                    {% for faculty in faculties %}
                                        <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                                    {% endfor %}

                                </select>
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Lớp
                                <input name="class" type="text" placeholder="Lớp" list="class_list" />
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Học phần
                                <input name="course" type="text" placeholder="Học phần" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <label>Tuần
                                <select name="week">
                                </select>
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Giảng viên
                                <input name="instructor" type="text" placeholder="Tên giảng viên" list="instructor_list" />
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Máy chiếu
                                <select name="projector">
                                    <option value="" selected>Tất cả</option>
                                    <option value="1">Có</option>
                                    <option value="0">Không có</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">
                            <input type="button" class="button tiny" value="Lọc" id="btn_timetable_filter" />
                            <input type="reset" class="button tiny secondary" value="Hủy lọc" />
                        </div>
                        <div class="large-4 columns">
                        </div>
                        <div class="large-4 columns">
                            <input type="button" class="button tiny" value="Lưu" id="btn_timetable_save" />
                        </div>
                    </div>
                </div>

                <div class="row" id="filter_table"></div>
                
                <div class="row" id="instructor_table"></div>
            </form>
        </div>
    </div>

{#  Sử dụng phòng  #}
    <div class="row">
        <div class="large-12 columns">
            <h1>Thời khóa biểu - Sử dụng phòng</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns" id="week_table">
        </div>
    </div>

{#<a href="#" data-reveal-id="addPeriodModal"></a>#}
<div id="addPeriodModal" class="reveal-modal" data-reveal aria-labelledby="addPeriodModalTitle" aria-hidden="true" role="dialog">
    <h2 id="addPeriodModalTitle">Thêm tiết học</h2>
    <form name="addPeriodForm" method="POST" action="">
        <div class="row">
            <label>Tiết: 
            <ul class="add_detail add_period">
                <li><label class="success label"><input type="radio" name="add_period" value="1-3"/> 1-3</label></li>
                <li><label class="success label"><input type="radio" name="add_period" value="1-2"/> 1-2</label></li>
                <li><label class="success label"><input type="radio" name="add_period" value="3-4"/> 3-4</label></li>
                <li><label class="success label"><input type="radio" name="add_period" value="2-4"/> 2-4</label></li>
                <li><label class="success label"><input type="radio" name="add_period" value="1-4"/> 1-4</label></li>
                <li><label class="alert label"><input type="radio" name="add_period" value="5-7"/> 5-7</label></li>
                <li><label class="alert label"><input type="radio" name="add_period" value="5-6"/> 5-6</label></li>
                <li><label class="alert label"><input type="radio" name="add_period" value="7-8"/> 7-8</label></li>
                <li><label class="alert label"><input type="radio" name="add_period" value="6-8"/> 6-8</label></li>
                <li><label class="alert label"><input type="radio" name="add_period" value="5-8"/> 5-8</label></li>
                <li><label class="info label"><input type="radio" name="add_period" value="9-11"/> 9-11</label></li>
                <li><label class="info label"><input type="radio" name="add_period" value="9-10"/> 9-10</label></li>
                <li><label class="info label"><input type="radio" name="add_period" value="10-11"/> 10-11</label></li>
            </ul>
            </label>
        </div>
        <div class="row">
            <label>Phòng: 
                <ul class="add_detail add_room">
                    <li value=""><label><input type="radio" name="add_room" value="" text="--"/> &nbsp;&nbsp;</label></li>
                {% for room in rooms %}
                        <li value=""><label><input type="radio" name="add_room" value="{{room.id}}" text="{{room.name}}"/> {{room.name}}</label></li>
                {% endfor %}
                </ul>
            </label>
        </div>
        <div class="row">
            <ul class="add_detail add_period_type">
                <li><label class="success label"><input type="radio" name="add_period_type" value="0" checked="checked"/> Lý thuyết</label></li>
                <li><label class="success label round"><input type="radio" name="add_period_type" value="1"/> Thực hành</label></li>
            </ul>
        </div>
        <div class="row">
            <label>Lặp số tuần: <input type="number" name="add_repeat" value="1"/>
            </label>
        </div>
        <div class="row">
            <input type="button" class="button" name="addPeriod" id="addperiodModal" value="Thêm">
        </div>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tkb.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.tkb.js') }}"></script>
    
    <script>
    var filter_url = "{{ url('qtu_tkb_timetable_filter') }}";
    var countWeek = schedule_data.length;
    var room_data= [
        {% for room in rooms %}
                { id:{{room.id}}, name: '{{room.name}}', detail: [
                    {% for detail in room.getScheduleDetails %}
                        {   id: {{detail.id}}, dateOccur: '{{detail.dateOccur|date('d/m/Y') }}', period: '{{detail.period}}', description: '{{detail.description}}', hasDone: '{{detail.hasDone}}', inLate: {{detail.inLate}}, outSoon: {{detail.outSoon}}, room: '{{room.name}}',
                            course: { 
                                name: '{{detail.getCourse.name}}', 
                                class: '{% for class_p in detail.getCourse.classes %} {{ class_p.name }}{%if not loop.last %},{%endif%}{% endfor%}',
                                instructor: '{% for instructor in detail.getCourse.instructors %}{{ instructor.lastname }} {{ instructor.firstname }} {%if not loop.last %},{%endif%}{% endfor%}' 
                            }
                        } {%if not loop.last %},{%endif%}
                    
                    {% endfor %}
                ]} {%if not loop.last %},{%endif%}

        {% endfor %}
    ];
    var newcourse_data= [];
    var delcourse_data= [];
    
    function filterClass(){
        $("#filter_table").html('<img src="{{ asset('images/loading.gif')}}" />');
        $.ajax({
            url: filter_url,
            data: $("form[name='scheduledetail']").serialize(),
            }).done(function(response) {
                $("#filter_table").html(response);
        });
    }
    function parseUrl(){
        var params = $(location).attr('hash').replace('#', '').split('&');
        var week = 1;
        var mclass = '';
        for(var i = 0; i < params.length; i++){
            var subparams = params[i].split('=');
            if (subparams[0] == 'week') week = parseInt(subparams[1]);
            if (subparams[0] == 'class') mclass = subparams[1];
        }
        if (mclass != '') {
            $("input[name='class']").val(mclass);
{#            $("select[name='week'] option:selected").removeAttr("selected");#}
            $("select[name='week']").find("option[value='"+(week-1)+"']").attr('selected', 'selected');
            currentWeek = parseInt($("select[name='week']").val());
            filterClass();
        }
    }

    function updateUrl(isReload) {
        var protocol = $(location).attr('protocol');
        var host = $(location).attr('host');
        var pathname = $(location).attr('pathname');

        var mclass = $("input[name='class']").val();
        var week = parseInt($("select[name='week'] option:selected").val());

        window.location.href = protocol + '//' + host + pathname + '#week=' + (week + 1) + '&class=' + mclass;

{#        if (isReload) filterClass();
        else loadRoomWeek(week);#}
    }

    function isCurentWeek(startdate, enddate) {
        var sdate = moment(startdate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        var edate = moment(enddate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        var currdate = moment().format('YYYY-MM-DD');

        return moment(currdate).isBetween(sdate, edate) || moment(currdate).isSame(sdate) || moment(currdate).isSame(edate);
    }
    function loadRoomWeek(week){
        $(".weektable").css('display','none');
        $(".weektable[week="+week+"]").css('display','table');
        //call if loadInstructorWeek exist
        if (typeof loadInstructorWeek === 'function')
            loadInstructorWeek(week);
        //call if loadIWeek exist
        if (typeof loadWeek === 'function')
            loadWeek(week);
        updateUrl(false);
    }

    function filterData(){
        $("#filter_table").html('<img src="{{ asset('images/loading.gif')}}" />');
        updateUrl(false);
        $.ajax({
            url: filter_url,
            data: $("form[name='scheduledetail']").serialize(),
            }).done(function(response) {
                $("#filter_table").html(response);
        });
    }
    
    function saveData() {
        //delete data
        
        //add data
        $.ajax({
            type: "POST",
            data: {'newdata': JSON.stringify(newcourse_data), 'deldata': JSON.stringify(delcourse_data)},
            url: "{{path('qtu_tkb_timetable_builder_save')}}",
            success: function(response){
                //reload data or reload page
                // reload page ^_^
{#                location.reload();#}
                if(response.success=='success') {
                    location.reload();
                }
            }
        });
        
        //update data
        
    }
    function initBuilderFunctions(){
        $("select[name='week']").on("change",function(){
            currentWeek = parseInt($(this).val());
            loadRoomWeek(currentWeek);            
        });
        
        $(".next-week").on("click",function(){
            if(currentWeek+1>=countWeek) {
                console.log("Vượt quá");
            } else {
                currentWeek++;
                $("select[name='week'] option").eq(currentWeek).attr('selected', "selected");
                $("select[name='week']").change();
            }
        });
        $(".previous-week").on("click",function(){
            if(currentWeek-1<0) {
                console.log("Nhỏ quá");
            } else {
                currentWeek--;
                $("select[name='week'] option").eq(currentWeek).attr('selected', "selected");
                $("select[name='week']").change();
            }
        });
    }

    var currentWeek = 0;

    $(function() {        
        /*********** Init Week ***********/
        for(var i=0; i<schedule_data.length; i++)
        {
            $("select[name='week']").append($('<option></option>').attr('value',i).text(schedule_data[i].weekname+ " ("+schedule_data[i].data[0].date+" đến "+schedule_data[i].data[6].date+")"));

            //create week tables
            var week_table = createWeekTable(i, schedule_data[i], room_data);
            $("#week_table").append(week_table);
        }
        /*********** EndInit Week ***********/
        /*********** Fill Week Data ***********/
        for(var i=0; i<room_data.length; i++) {
            for(var j=0; j<room_data[i].detail.length; j++) {
                var divPeriod = ('<div data-tooltip aria-haspopup="true" class="has-tip '+class_p[room_data[i].detail[j].period]+'" title="'+room_data[i].detail[j].course.class+' - '+room_data[i].detail[j].course.name+' - '+room_data[i].detail[j].course.instructor+'">'+room_data[i].detail[j].period+'</div>');
                $("tr[room_id="+room_data[i].id+"] div[date='"+room_data[i].detail[j].dateOccur+"']").append(divPeriod);
            }
        }        
        /*********** End Fill Week Data ***********/
        parseUrl();
        /*********** Filter Action ***********/
        $("#btn_timetable_filter").on("click",filterData);
        /*********** End Filter Action ***********/
        /*********** Save Action ***********/
        $("#btn_timetable_save").on("click",saveData);
        /*********** End Save Action ***********/
        loadRoomWeek(currentWeek);

        initBuilderFunctions();
        
    });
    </script>
{% endblock javascripts %}