     <div class="row">
       <div class="large-12 columns">
            <form name="scheduledetail" >
                <div class="large-5 columns">
                    <label>Học kỳ
                        <select id="term" ui-select2 name="termid" ng-model="termId" ng-options="t.id as t.name for t in terms" ng-change="filterClass()">
                        </select>
                    </label>                            
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen">
                    <accordion-heading>
                        Danh sách các môn <i class="right" ng-class="{{ '{\'fi-arrows-compress\': isopen, \'fi-arrows-expand\': !isopen}'}}"></i>
                    </accordion-heading>
                    <ul class="course-list">
                        <li ng-repeat="x in courses" class="background-{{ '{{$index}}' }}">{{ '{{x.name}}' }}</li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>                
    <div class="row">
        <div class="large-12 columns">
            <calendar selected="day"></calendar>
        </div>
    </div>
    <script>
        var filter_url = "{{ url('qtu_tkb_instructor_timetable_term_filter_json') }}";
    </script>